body {
	background-image: url('../images/chemistry.jpeg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto; 
}

.introduction {
	height: 12rem;
	overflow: auto;
}

.introduction h1 {
	color: #1F0A25;
	font-size: 3.0rem;
	text-align: center;
	font-weight: lighter;
}

.introduction h3 {
	color: #1F0A25;
	font-size: 1.5rem;
	text-align: center;
	font-weight: lighter;
}

.call {
	background-color: #73A0A7;
	border-radius: 1rem;
	padding: 0.30rem 1.2rem;
	width: 40%;
	margin: 0 auto; /* put container right in the middle */
	letter-spacing: 0.03em;
}

.question {
	color: #2F3A40;
}

.itemList {
	list-style: none;
	padding-left: 0;
}

.itemList li {
	margin-bottom: 1em;
}

.options {
	background-color: #2F3A40;
	width: 28rem;
	height: 3rem;
	font-size: 1em;
	color: #548C8F;
	border-radius: 2rem;
	border-style: none;
}

.options:hover {
	cursor:pointer;
	background-color: #1F0A25;
	color: #73A0A7;
}

.showResults {
	width: 40%;
	margin: 0 auto;
	padding-top: 2rem;
}

.results {
	width: 80%;
	height: 30%;

}

.icons {
	list-style: none;
	padding-left: 0;
}

.icons > li {
	display: inline-block;
	margin: 0rem 2px;
}

.displayPoints {
	width: 80%;
	height: 50%;
	vertical-align: top;
}

#numbercor,
.correct {
	font-size: 1.2rem;
	color: blue;
}

#numberinc,
.wrong {
	font-size: 1.2rem;
	color: red;
}

.points {
	color: white;
}

.showResults {
	margin: 0 auto;
	background-color: #73A0A7;
	border-radius: 1rem;
	padding: 0.30rem 1.2rem;
	height: 5.5rem;
	width: 40%;
	margin: 0 auto; /* put container right in the middle */
	margin-top: 1rem;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 210px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:134px;
     text-align:center;
}

	
	

